.demo {
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    white,
    var(--bg-secundario) 10%,
    var(--bg-secundario) 90%,
    #284368 130%
  );
  padding-block: 10vh;
  gap: 5vh;


  .lista-btn {
    width: 90%;
    max-width: 600px;

    .btn-slide {
      border: 2px solid var(--azul-principal) !important;
      border-radius: 6px;
      padding: 3px 5px;
      background-color: transparent !important;

      button {
        background-color: transparent;
        border: none;
        color: var(--azul-principal) !important;
        font-size: 0.7rem;
        font-family: "inter" !important;
      }
    }

    .btn-slide:active {
      background-color: var(--azul-principal) !important;

      button {
        color: #fff !important;
        font-weight: 600;
      }
    }
  }

  .slides-container {
    width: 90%;

    .slide {
      gap: 5vh;
      .mockup-slide {
        width: 90%;

        img {
          width: 100%;
        }
      }
    }

    .textos-slide {
      gap: 15px;
      color: #003272;

      .tt-slide{
        font-size: 2rem;
        width: 100%;
      }
    }
  }
}
