.demo {
  overflow: hidden;
  height: 100vh;

  .lista-btn {
    gap: 15px;

    .btn-slide {
      border: 1px solid #0b3bb7;
      border-radius: 5px;
      padding: 5px;
    }

    .btn-slide {
      background-color: transparent;
      border: none;
      color: var(--bg-principal);
    }

    :active .btn-slide {
      background-color: var(--bg-principal);
      color: #fff;
    }
  }

  .mockup-slide {
    width: 70%;
    height: 100%;
    margin: 0 auto;

    img {
      width: 10rem;
    }
  }

  .textos-slide {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    .tt-slide {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--bg-principal);
    }

    .p-slide {
      font-size: 1rem;
      color: var(--azul-principal);;

      .icone-check {
        font-size: 1.9rem;
        margin-right: 5px;
      }
    }
  }

  .slides-container {
    position: relative;
    overflow: hidden;
    min-height: 500px;
    height: auto;
  }

  .slide {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
    z-index: 0;
    visibility: hidden;
  }

  .slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
    visibility: visible;
  }
}
