.hero {
  position: relative;
  background-color: var(--bg-principal);
  padding-top: 15vh;
  overflow: hidden;

  .txt-hero {
    color: white;
    width: 75%;
    max-width: 455px;
    gap: 8px;
    transform: translateY(40px);
    position: relative;
    z-index: 2;

    .p-hero {
      font-size: small;
    }

    .btn-download {
      background-color: white;
      border: none;
      border-radius: 10px;
      font-size: 1.3rem;
      color: var(--bg-principal);
      padding: 10px 20px;
    }
  }
}

@media (min-width: 992px) {
  .txt-hero {
    transform: translateX(5vw) !important;
  }

  .mulher-hero{
    transform: scale(1.1);
  }
}
