.hero {
  height: 95vh;
  background-color: var(--bg-principal);
  padding-inline: 9vw;
  overflow: hidden;
  z-index: 1;

  .txt-hero {
    background-color: red;
    width: 90% !important;
    max-width: 500px !important;

    h1 {
      color: white;
    }
    .p-hero {
      font-size: clamp(1vw, 1rem, 2vw);
      color: white;
    }

    .btn-download {
      background-color: white;
      border: none;
      border-radius: 15px;
      padding: 15px 45px;
      font-size: 2.1rem;
      color: var(--azul-principal);
    }
  }

  .img-hero{
    background: radial-gradient(circle at center, #204CBA 35%, #1947B9 36%, #1947B9 55%, #1241B8 56%, #1241B8 77%, var(--bg-principal) 66%);
    width: 130%;
    height: 100%;
    transform: translateX(20%);

    img{
        height: 90%;
    }
  }
}
