.header {
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 900px;
  background: rgb(158, 127, 68);
  padding: 10px 0px 10px 10px;
  border-radius: 100px;
  z-index: 999;
  transition: background-color 0.5s ease-out;

  .logo path {
    fill: var(--azul-principal);
    transition: fill 0.5s ease;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 10px;
    overflow: hidden;
    height: 0;
    transition: height 3s ease;

    ul {
      gap: 10px;
      transform: translateY(-110%);
      transition: transform 0.5s ease;

      .btn-nav {
        background-color: #fff;
        color: var(--bg-principal);
        border: none;
        padding: 10px 15px;
        border-radius: 50px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.116);
        transition: all 0.5s ease;
      }
      .btn-nav:hover {
        font-size: 1.2rem;
        border: 1px solid var(--azul-principal);
      }

      .btn-download {
        background-color: var(--bg-secundario);
        color: var(--azul-principal) !important;
        font-weight: 500;
      }
    }
  }

  .btn-menu {
    background: none;
    border: none;
    padding: 0 10px 0 0;
    color: var(--azul-principal);
    max-height: 40px;
    font-size: 2.5rem;
  }

  .btn-menu:hover {
    color: var(--bg-principal);
  }
}

.click {
  .nav-desktop {
    height: calc((1.2rem * 5) + 100px + 40px + 10px + 50px);
    transition: height 0s ease;
    ul {
      transform: translateY(0);
    }
  }
}

.ativa {
  background: var(--azul-principal) !important;

  path {
    fill: white !important;
  }

  .nav-desktop {
    .btn-nav {
      color: white !important;
    }

    .btn-nav {
      background-color: var(--azul-principal);
      border: none;
    }

    .btn-download {
      background-color: var(--bg-secundario) !important;
      color: var(--azul-principal) !important;
    }
  }

  .btn-menu {
    color: white;
  }

  .btn-menu:hover {
    color: #c7def0;
  }
}

@media (min-width: 992px) {
  .header {
    overflow: hidden;
    nav {
      position: relative !important;
      top: 0;
      padding: 0;
      height: auto;
      width: 75%;

      ul {
        gap: 12%;
        padding-right: 0;
        transform: translateY(0);
        transition: all 0.5s ease;

        li {
          height: 100%;
        }
      }
      .btn-nav {
        background: none !important;
        color: var(--bg-principal);
        border: none;
        box-shadow: none !important;
        transition: none !important;
      }

      .btn-nav:hover {
        font-size: 1rem !important;
        border: none !important;
        color: rgb(196, 214, 247) !important;
      }

      .btn-download {
        background-color: var(--bg-secundario) !important;
        padding: 0 20px !important;
        width: 120px;
        height: 100%;
        transition: all 0.3s ease !important;
      }

      .btn-download:hover {
        background-color: #f3f9ff !important;
        color: var(--azul-principal) !important;
      }
    }
  }
  .ativa {
    nav {
      ul {
        gap: 5% !important;
      }
      .nav-item:last-child {
        margin: 0 !important;
      }
    }
  }
}
