.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1000px;
  height: 10vh;
  background: white;
  padding: 15px;
  border-radius: 30px;

  nav {
    font-size: 1.2rem;

    .btn-nav{
        background: none;
        border: none;
    }
  }

  .btn-download{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffae00;
    color: white;
  }
}
