.header {
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1000px;
  background: white;
  padding: 15px;
  border-radius: 100px;
  z-index: 999;

  nav {
    font-size: 1.5rem;

    .btn-nav{
        background: none;
        border: none;
        color: var(--bg-principal);
    }
  }

  .btn-download{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffae00;
    color: white;
  }
}
