.footer {
  background-color: #003272;
  padding-top: 3vh;
  color: white;

  .footer-topo {
    flex-wrap: wrap;
    width: 100%;
  }

  .logo-footer {
    width: 200px;
    order: 2;

    .img-logo {
      width: 100%;
    }
  }

  .box-btn {
    width: 90vw;
    margin-bottom: 4vh;
    order: 1;

    .btn-voltar-topo {
      background: #235799;
      color: white;
      border: none;
      border-radius: 5px;

      font-size: 0.8rem;
      width: 180px;

      i {
        font-size: 1.8rem;
      }
    }
  }

  .devs {
    width: auto;
    order: 3;
    margin: 0;
    padding: 0;

    h4 {
      font-size: 0.85rem;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 0.7rem;

      i {
        font-size: 0.8rem;
      }
      a {
        color: white;
      }
    }
  }

  .copy {
    padding-block: 5vh 3vh;
  }
}

@media (min-width: 768px) {
  .box-btn {
    width: auto !important;
    order: 3 !important;
    margin: 0 !important;
  }

  .logo-footer {
    width: 250px !important;
  }
}
