:root {
  --bg-principal: #0b3bb7;
  --azul-principal: #276dd5;
  --bg-secundario: #d7e9ff;
  --vermelho: #da1c1f;
  --bg-vermelho: #fbe4e5;
}

/* barra inteira */
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: var(--bg-secundario);
}

::-webkit-scrollbar-thumb {
  background-color: var(--azul-principal);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* hover opcional */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-principal);
}

* {
  font-family: "Inter", sans-serif;
}
